[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
python-decouple = "*"
pillow = "*"

[dev-packages]
black = "*"
pylint = "*"
pytest = "*"
pytest-django = "*"

[requires]
python_version = "3.12"

[scripts]
start = "python manage.py runserver"
