[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
python-decouple = "*"
pillow = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
gunicorn = "*"
whitenoise = "*"
psycopg2-binary = "*"
django-rest-swagger = "*"
drf-yasg = "*"

[dev-packages]
black = "*"
pylint = "*"
pytest = "*"
pytest-django = "*"

[requires]
python_version = "3.12"

[scripts]
start = "python manage.py runserver"
